@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');


body{
  font-family: 'Allerta Stencil', sans-serif;
  margin: 0;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

.hero {
  text-align: center;
  padding: 150px 50px;
  margin: 0 auto;
  background: url('../images/male-24.png');
  background-size: cover;
  height: 700px;
  max-width: 900px;
}

.hero p {
  color: white;
}

h2 {
  opacity: 1;
  animation-timing-function: cubic-bezier(0.2, .8, 0.2, 1);
  animation-delay: 1s;
  animation: heroAnimation 1s linear;
}

buttonNext {
  font-family: sans-serif;
  font-size: 12px;
  color:black;;
  background: lightgray;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  right: 50px;
  top: 50vh;
  width: 50px;
  height: 50px;
  transition: 2s;
  text-align: center;
}
buttonNext:hover { 
  background: black;
  color: white;
  box-shadow: 0 10px 20px white;;
  transition: 1.5s cubic-bezier(0.2, .8, 0.2, 1);
  transform: translateY(-10px);
}


.circleW1 {
  position: absolute;
  left:200px;
  top:120px;
  width: 300px;
  height: 300px;
  background: white;
  opacity: .5;
  border-radius: 60% 40% 70% 60% / 60% 80% 60% 40%;
  filter: blur(3vw);
  animation: aura 9s infinite linear;
}

.circle1 {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 300px;
  background: blue;
  mix-blend-mode: multiply;
  border-radius: 60% 40% 70% 60% / 60% 80% 60% 40%;
  filter: blur(1vw);
  animation: aura 60s infinite linear;
}
.circle2 {
  left: 400px;
  top: 40px;
  position: absolute;
  width: 35px;
  height: 35px;
  background: purple;
  border-radius: 60% 40% 70% 60% / 60% 90% 60% 40%;
  mix-blend-mode: hue;
  animation: aura2 40s infinite linear;
}

.circleR1 {
  position: absolute;
  left: 550px;
  top: 340px;
  width: 30px;
  height: 40px;
  mix-blend-mode: darken;
  background: #cf4533;
  border-radius: 60% 40% 20% 60% / 60% 40% 60% 40%;
  filter: blur(.3vw);

}

.circleR2 {
  position: absolute;
  left: 390px;
  top: 130px;
  width: 131px;
  height: 247px;
  background: #c61d06;
  border-radius: 20% 80% 60% 60% / 60% 40% 60% 40%;
  mix-blend-mode: multiply;
  filter: blur(1vw);
  animation: aura3 70s infinite ease-in-out;
}

.circleY2 {
  position: absolute;
  left: 420px;
  top: 10px;
  width: 153px;
  height: 137px;
  background: yellow;
  opacity:.7;
  border-radius: 20% 80% 60% 90% / 60% 40% 60% 40%;
  mix-blend-mode: multiply;
  filter: blur(.4vw);
  animation: aura 40s infinite linear;
}
@keyframes aura {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
 100% {transform: rotate(360deg);}
}
    
@keyframes aura2 {
  0% {filter: blur(.1vw);transform: scale(1);
  transform: rotate(0deg);}
  50% {transform: scale(2);}
 90% {filter: blur(.5vw);transform: scale(1);}
  100% {filter: blur(.1vw);transform: scale(1);
  transform: rotate(360deg);}
}

@keyframes aura3 {
  0% {filter: blur(.1vw);transform: rotate(0deg);}
  50% {filter: blur(.8vw);transform: rotate(30deg);}
  90% {filter: blur(.8vw);transform: rotate(30deg);}
 100% {transform: rotate(0deg);}
}
    

a {
  color: black;
  text-decoration: none;
  
}

/* mouse over link */
a:hover {
  color: red;
  background: yellow;
}

@keyframes heroAnimation{
  0% {opacity: 0;
    transform: translateY(20px);}
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
